* {
  font-family: HelveticaNeueW01-Thin, HelveticaNeueW02-Thin, HelveticaNeueW10-35Thin, sans-serif;
}

body {
  margin: 0 10%;
  background-image:url("http://www.forestry.gov.cn/uploadfile/main/2017-8/image/2017-8-21-794a726d8a5246cc9a465185f2687bef.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
}

html { 
  background: url(http://www.forestry.gov.cn/uploadfile/main/2017-8/image/2017-8-21-794a726d8a5246cc9a465185f2687bef.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

/* Style the headers */
h1 {
  font-size: 48px;
  text-align: center;
}

/* Style subheader*/
h2 {
  font-size: 20px;
  text-align: center;
  
}

/* Style cta*/
cta {
  font-size: 14px;
  text-align: center;
  cursor: pointer;
  background: 
    background-image: initial;
    background-position-x: 0px;
    background-position-y: 0px;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: initial;
  width: initial;
  padding: 
    padding-top: 1.452vh;
    padding-right: 2.96vw;
    padding-bottom: 1.452vh;
    padding-left: 2.96vw;
  border-radius:
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
    border-bottom-left-radius: 40px;
  color: #121416;
  border: 
    border-top-color: rgb(18, 20, 22);
    border-top-style: solid;
    border-top-width: 1px;
    border-right-color: rgb(18, 20, 22);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(18, 20, 22);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(18, 20, 22);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  transition:
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
  display: inline-block;
  margin: 
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  font-family: inherit;
}
    
/* Style the font size*/
p {
  font-size: 18px;
  margin: 15px;
  padding: 15px;
}

/* Style the footer*/
div.footer{
  color:grey;
  font-size: 12px;
  text-align: center;
  opacity: 0.9;
  background: whitesmoke;
}

/* Style background image source*/
div.backimage {
  font-size: 10px;
  color:grey;
}
