* {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", sans-serif;
  font-weight: 300;
}

body {
  margin: 0 10%;
}

html { 
  background: url("https://www.nationalgeographic.com/content/dam/travel/2017-digital/21-unesco-sites-china/wolong-panda-sanctuary-unesco-china.adapt.1900.1.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-opcacity: 0.9;
}

/* Style the headers */
h1 {
  font-size: 40px;
  text-align: center;
  position: relative;
  top: 10%; 
}

/* Style subheader*/
h2 {
  position: relative;
  top: 25%
  font-size: 20px;
  text-align: center;
}

/* Style cta*/
a.cta {
  position: relative;
  top: 70%; 
  left: 40%;
  font-size: 18px;
  color: white;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  background-image: initial;
  background-position-x: 0px;
  background-position-y: 0px;
  background-size: initial;
  background-repeat-x: initial;
  background-repeat-y: initial;
  background-attachment: initial;
  background-origin: initial;
  background-clip: initial;
  background-color: #336600;
  width: initial;
  padding-top: 1.452vh;
  padding-right: 2.96vw;
  padding-bottom: 1.452vh;
  padding-left: 2.96vw;
  
  border-top-left-radius: 40px;
  border-top-right-radius: 40px;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  
  border-top-color: rgb(18, 20, 22);
  border-top-style: solid;
  border-top-width: 1px;
  border-right-color: rgb(18, 20, 22);
    border-right-style: solid;
    border-right-width: 1px;
    border-bottom-color: rgb(18, 20, 22);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-left-color: rgb(18, 20, 22);
    border-left-style: solid;
    border-left-width: 1px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
  
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: initial;
  display: inline-block;
  
    margin-top: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
  font-family: inherit;
  pointer-events: auto!important; 
}
    
/* Style the font size*/
p {
  font-size: 14px;
  margin: 15px;
  padding: 15px;
}

/* Style the footer*/
div.footer{
  color:white;
  font-size: 10px;
  opacity: 0.9;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #336600;
}
p.footer{
  text-align: center;
  font-size: 12px;
}

/* Style background image source*/
div.source {
  font-size: 10px;
  color:grey;
}
